<a href="https://colab.research.google.com/github/Barketalii/Python/blob/main/Barket_Hussain_Session_04_Worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1)** Predict the output of following code snippets:-

* (24-3)//3 == 7

* ((9**2)+10)/13 == 7

* ((4%2)+9**2) == 81

In [ ]:
# Your predictions go here:-

x=(24-3)//3 == 7

x=((9**2)+10)/13 == 7

x=((4%2)+9**2) == 81
x

True

**Q2)** Initialize a list named my_list and store all the data types you studied till now in it. At last add your name to my_list.

In [ ]:
# Your code goes here
my_list=[1,2,3,4,7]
#my_list
#my_list[1]
#my_list.append(8)
#my_list.pop(4)
my_list.index(3)
my_list
#print(my_list,type(my_list))

[1, 2, 3, 4, 7]

In [ ]:
list2=[5,4,4,4,4]
list2+my_list

[5, 4, 4, 4, 4, 1, 2, 3, 4, 7]

**Q3)** Create a dictionary containing your name, age and qualification in the form of key value pairs.

In [ ]:
# Your code goes here
my_dict={"name":"barket","age":21,"qualification":"b.tech"}
my_dict

{'name': 'barket', 'age': 21, 'qualification': 'b.tech'}

**Q4)** Initialize two sets in such a way that their intersection is a null set. Find the union, intersection and difference of the seets.

In [ ]:
# Your code goes here
set1={1,2,3,4,5,7}
set2={3,2,4,6,7,6}
set3=set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set1={2,3,4,7}
set2={1,8,5,6}
set3=set1.intersection(set2)
set3

set()

In [ ]:
set1={1,2,3,4,5,7}
set2={3,2,4,6,7,6}
set3=set1.difference(set2)
set3

{1, 5}

**Q5)** Create a variable named "password" and store a password in it in the form of string. Using if else statements output to the console following:

* "Your Password Is Secure" if the length of your password is greater than 10

* "Your Password Needs Modification" if the length of of your password is greater than equal to 8 and less than equal to 10

* "Your Password Is Insecure" if the length of your password is less than 8

In [ ]:
# Your code goes here
password=("barket")
if len(password)>6:
  print("password is secure")
else:
  print("the password needs modification")
  if len(password)==6:
    print("the password is insecure")

the password needs modification
the password is insecure

**Q6)** Initialize a list containing 10 fruits. Output to the console a new list containing alternate fruits from the list.

In [ ]:
# Your code goes here
my_list=["apple","mango","banana","custerd",'kivi',"pomogrenate","pear","orange"]
my_list[::2]

['apple', 'banana', 'kivi', 'pear']

**Q7)** my_homework=["I am sorry"]

Initialize the above list. Repeat the element in it 20 times.

In [ ]:
# Your code goes here
my_homework=["I am sorry"]
for my_homework in range(20):
  print(my_list)

[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]
[1, 2, 3, 4, 7]

**Q8)** Create a tuple containing name of few students. Now add a student "John" to it.

Are you able to do so ? If No, Why ?

In [ ]:
# Your answer goes here
names=("barket","ali","teli")
names
#no we can't as tuple is not mutable

('barket', 'ali', 'teli')

**Q9)** Create a dictionary my_dict={"John":"Graduate","Charlie":"Graduate","Harry":"Post-Graduate","Bob":"Doctrate"}.

Check using boolean operators if "Bob","Dolly","Robin" are in my_dict or not.

In [ ]:
from ast import Is
# Your code goes here
my_dict={"jhon":"graduate","charlie":"graduate","harry":"post-graduate","bob":"docter"}
#print(Is 'bob' present in my_dict? )
is_bob_present = "Bob" in my_dict
is_dolly_present = "Dolly" in my_dict
is_robin_present = "Robin" in my_dict
print(f"Is 'Bob' in my_dict? {is_bob_present}")
print(f"Is 'Dolly' in my_dict? {is_dolly_present}")
print(f"Is 'Robin' in my_dict? {is_robin_present}")

Is 'Bob' in my_dict? False
Is 'Dolly' in my_dict? False
Is 'Robin' in my_dict? False

**Q10)** Using if-else statements write a mini-program to check if a number is even or odd

In [32]:
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter a number: 5
5 is an odd number.

In [7]:
num=int(input("enter the number"))
if num % 2 == 0:
  print("it is even")
else:
  print("it is odd")

enter the number5
it is odd

In [9]:
num=int(input("enter the input"))
match num % 2:
    case 0:
      print("Even")
    case 1:
        print("odd")

enter the input5
odd

In [26]:
lst=[1,2,3,4,5]

In [27]:
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [28]:
lst.insert(3,30)
print(lst)

[1, 2, 3, 30, 4, 5, 6]

In [31]:
lst[0:3]

[1, 2, 3]

In [54]:
import random as rand
print(rand.randint(0,6))

1

In [53]:
print("rolling a dice 10 time")
for i in range(10):
  roll=rand.randint(1,6)
  print(f"roll {i+1}:{roll}")

rolling a dice 10 time
roll 1:4
roll 2:1
roll 3:6
roll 4:5
roll 5:1
roll 6:6
roll 7:5
roll 8:5
roll 9:1
roll 10:5

In [58]:
rolls=[rand.randint(1,6) for _ in range(10)]
print("Dice rolls :",rolls)

Dice rolls : [2, 1, 4, 5, 5, 6, 4, 6, 2, 2]

In [64]:
import random

In [67]:

rolls=[]
count=0
while count <10:
  rolls.append(random.randint(1,6))
  count +=1
  print("dice rolls :",rolls)

dice rolls : [6]
dice rolls : [6, 6]
dice rolls : [6, 6, 5]
dice rolls : [6, 6, 5, 4]
dice rolls : [6, 6, 5, 4, 2]
dice rolls : [6, 6, 5, 4, 2, 4]
dice rolls : [6, 6, 5, 4, 2, 4, 6]
dice rolls : [6, 6, 5, 4, 2, 4, 6, 2]
dice rolls : [6, 6, 5, 4, 2, 4, 6, 2, 1]
dice rolls : [6, 6, 5, 4, 2, 4, 6, 2, 1, 5]

In [69]:
from collections import Counter

In [78]:
text="data science is fun and data is powerfull"
word=text.split()
count=Counter(word)
count=Counter(text.replace("",""))
print(count)

Counter({' ': 7, 'a': 5, 'd': 3, 's': 3, 'i': 3, 'e': 3, 'n': 3, 't': 2, 'c': 2, 'f': 2, 'u': 2, 'l': 2, 'p': 1, 'o': 1, 'w': 1, 'r': 1})

In [74]:
for ch in text:
  print(ch)

d
a
t
a

s
c
i
e
n
c
e

i
s

f
u
n

a
n
d

d
a
t
a

i
s

p
o
w
e
r
f
u
l
l

In [87]:
str="hello"
str[::-1]

'olleh'

In [86]:
def is_palindrome(word):
    word = word.lower()
    i, j = 0, len(word) - 1

    while i < j:
        if word[i] != word[j]:
            return False
        i += 1
        j -= 1
    return True
print(is_palindrome("madam"))

True