<a href="https://colab.research.google.com/github/Barketalii/Python/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List
a list is a sequence of objects declered using square brackets and the elements are separated by commas. the object may be combiation of different types numbers,strings even other lsits.it is orderd and indexable

**list constructor function**:the list constructor function is for creating new list object the two ways of creating a new list object is list()  and []the default values for the list is [] (empty list) if no argument is given to constructor list it creates a new empty list

In [1]:
lst=list()
lst

[]

In [2]:
print(type(lst))

<class 'list'>

In [3]:
lst=[]
lst

[]

In [4]:
type(lst)

list

**note that the constructor like tuple,list are not called methods because they are not called on existing object like methodsbut rather they are used to create new objectsof the corresponding type**

Indexing of list
indexing starts with zero
accessing a non exixting index will result in IndexError

In [8]:
fruits=['apple','mango','grapes','mango']
for i in range(len(fruits)):
  print(f'the index of  {fruits[i]} {i}')

the index of  apple 0
the index of  mango 1
the index of  grapes 2
the index of  mango 3

In [15]:
fruits[0]

'apple'

indexing of Nested lists
lsit within list

In [14]:
lst=[1,2,3,'six',[1,2,3]]
lst[4]

[1, 2, 3]

In [16]:
lst.index([1,2,3])

4

Negative indexing

In [17]:
fruits=fruits=['apple','mango','grapes','mango']
fruits[-1]

'mango'

In [25]:
fruits = ['apple', 'mango', 'grapes', 'mango']

for i in range(-1 , -len(fruits)-1, -1):
    print(f"The negative index of {fruits[i]} is {i}")

The negative index of mango is -1
The negative index of grapes is -2
The negative index of mango is -3
The negative index of apple is -4

Slicing of lists:the range of items from the list can be accessed using the slice operator which is colon(:) and with indexes starting from zero and ending with length of list

In [26]:
fruits[:]

['apple', 'mango', 'grapes', 'mango']

In [27]:
fruits[0:2]

['apple', 'mango']

In [28]:
fruits[:2]

['apple', 'mango']

Mutability of lists:unlike strings lists are mutable

In [31]:
fruits[:]

['apple', 'mango', 'grapes', 'mango']

In [33]:
fruits[2]='banana'
fruits

['apple', 'mango', 'banana', 'mango']

concatination of lists
while the + operator concatinates two lists the *
operator concatinates n copies of list(list * n)

In [35]:
fruits=['apple', 'mango', 'grapes', 'mango']
morefruits=['kiwi','tomato']
allfruits=fruits+morefruits
allfruits

['apple', 'mango', 'grapes', 'mango', 'kiwi', 'tomato']

In [36]:
morefruits*2

['kiwi', 'tomato', 'kiwi', 'tomato']

In [37]:
2*morefruits

['kiwi', 'tomato', 'kiwi', 'tomato']

membership in a list

In [38]:
fruits=['apple', 'mango', 'grapes', 'mango']
'apple' in fruits

True

In [39]:
'kiwi' in fruits

False

compare the items
while == and  != test whether two items in a list are equal or not the comprision operator < and > compare the items if the two items cpmpared are strings then the comprision is is using dictionary order

In [40]:
num=[1,2,3,4,5,6,7,4,89]
num[1]==num[7]

False

In [41]:
num[6]>num[1]

True

list methods
1:append() used to add the element a tthe end of lsit

In [43]:
a=[1,2]
a.append(3)
a

[1, 2, 3]

2:extend() it extends the list by appending elements from the iterable
what i mean to say is that if i do like this
a=[1,2,3]
b=[4,5,6]
then write a.append(b)
it will give ouput a=[1,2,2,[4,5,6]]
but i want a=[1,2,3,4,5,6]
which is possible by using a.extend(b)
a=[1,2,3,4,5,6]

In [51]:
a=[1,2,3]
b=[4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [53]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

insert() it inserts object before the specified index

In [56]:
a=["apple","banana"]
a.insert(0,"kiwi")
a

['kiwi', 'apple', 'banana']

In [57]:
a.insert(1,'mango')
a

['kiwi', 'mango', 'apple', 'banana']

pop()
it removes and returns item at specified index.IndexError is raised if lsit is empty or index is out of range

In [58]:
fruits=['mang','dango','tango']
fruits.pop(1)

'dango'

In [59]:
fruits

['mang', 'tango']

remove() removes the forst occuranceof value .ValueError is raised if the valuse is not present

In [61]:
a=[1,2,3,4,5,1,2]
a.remove(1)
a

[2, 3, 4, 5, 1, 2]

clear() it removes all items from list

In [63]:
a.clear()
a

[]

copy() it returns a shallow copy of lsit
there are two types of copies one is shallow and other is deep
**shallow copy**: the copy created which internlly are same i mean to say that if one copy is altered or changed then the change will reflect in the other copy as well
while as **deep copy** is one in which two different copies are created indipendent on each othe no change will reflect on other if one is changed

In [72]:
a=[1,2,3,4]
b=a.copy()
b

[1, 2, 3, 4]

In [73]:
a[1]=10
a

[1, 10, 3, 4]

**remembr if list is flat like a **the change in copy will not be seen in the in other copy
it only effects if list is nested

In [74]:
b

[1, 2, 3, 4]

In [67]:
print(a is b)

False

In [81]:
a=['mango',1,2]
b=a.copy()
b

['mango', 1, 2]

In [86]:
b[2]="chalo"
print(a)
print(b)

['mango', 1, 2]
['mango', 1, 'chalo']

In [85]:
a

['mango', 1, 2]

In [90]:
a=[1,2,3,[4,5,6]]
b=a.copy()
print(a)
print(b)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 6]]

In [96]:
a[3]="hii"
a

[1, 2, 'hii', 'hii']

In [98]:
b

[1, 2, 3, [4, 5, 'hii']]

count() it returns number of occurances of value

In [1]:
a=[1,2,3,4,5,6,1,2,3]
a.count(1)

2

index() returns the first occurance of specified value.a valueerror is raised if the value is not present
if more than one occurance is present then the first occurance is printed

In [3]:
a=[1,2,3,4,5,6,1,2,3]
a.index(1)

0

In [4]:
a.index(5)

4

reverse() it is used to reverse the list

In [5]:
a.reverse()
a

[3, 2, 1, 6, 5, 4, 3, 2, 1]

sort()  a list is sorted using sort method the sort is in-place ie the list itself is modifed and stable that is the order of two equal elements is maintained

In [6]:
a=[1,2,3,4,5,6,1,2,3]
a.sort()
a

[1, 1, 2, 2, 3, 3, 4, 5, 6]

In [9]:
a.sort(reverse=True)
a

[6, 5, 4, 3, 3, 2, 2, 1, 1]

del():used to delete entire list or one or more items of a list

In [14]:
a=[1,2,3,4,5,6,1,2,3]
del a[5]
a

[1, 2, 3, 4, 5, 1, 2, 3]

other built in functions are len(),sum(),min(),max(),any(),all(),sorted(),map(),

In [17]:
a=[1,2,3,4,5,6,1,2,3]
len(a)

9

In [18]:
sum(a)

27

In [19]:
min(a)

1

In [20]:
max(a)

6

any() function will return True if Bool(x) is True for any value of x in the list if the lsit is empty the function will return False

In [21]:
num=[1,2,3,4,5]
any(num)

True

all() return sstrue if bool(x) is true

In [22]:
all(num)

True

sorted() returns a list sorted in the ascending order the original list remains unchanged.

In [23]:
a=[1,2,3,4,5,6,1,2,3]
sorted(a)

[1, 1, 2, 2, 3, 3, 4, 5, 6]