<a href="https://colab.research.google.com/github/Barketalii/Python/blob/main/practiceprogramms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the area of circle of radius 5

In [1]:
import math

In [2]:
radius=5
area = math.pi * (radius**2)
print(f'the area of the circle with radius {radius} is:{area}')

the area of the circle with radius 5 is:78.53981633974483

Swap variables of two variables with out using temporay variable

In [3]:
from re import A
a=5
b=8
a,b=b,a
print(f'a={a},b={b}')

a=8,b=5

write a program to remove duplicates in list

In [4]:
lst=[1,2,3,4,5,6,1,2,3,4]
uniqe_list=list(set(lst))
print(uniqe_list)

[1, 2, 3, 4, 5, 6]

write a program to find a largest and smallest elements in list

In [9]:
lst=[1,23,4,5,78,59]
largest=max(lst)
smallest=min(lst)
print(f'the largest number in the list is: {largest}')
print(f'the smallest number in the list is :{smallest}')

the largest number in the list is: 78
the smallest number in the list is :1

write a program to check if the number is palindrome or not

In [10]:
num=12344321
num_str=str((num))
if num_str == num_str[::-1]:
  print('the num is palindrome')
else:
    print('it is not')

the num is palindrome

write a program to culculate the sum of all even numbers in a list

In [12]:
lst=[1,2,3,4,5,6,7,8,9,10]
even_sum=sum([num for num in  lst if num%2==0])
print(f'the sum of all even numbers in a string is :{even_sum}')

the sum of all even numbers in a string is :30

write a program to find the factorial of a number

In [15]:
num=5
factorial=1
for i in range(1,num+1):
  factorial *=i
print(f'the factorial of {num} is:{factorial}')

the factorial of 5 is:120

In [16]:
import math

In [17]:
num=5
math.factorial(5)

120

write a programm to find the greatest common divisor of two numbers using euclidean algorithm

In [20]:
def gcd(a,b):
  if b==0:
    return a
  else:
      return gcd(b ,a % b)
num1,num2=48,66
gcd=gcd(num1,num2)
print(f'the GCD of {num1} and {num2} is:{gcd}')

the GCD of 48 and 66 is:6

write a program to sort a dictionaries based on specific key

In [22]:
lst=[{'name':'jnon','age':25},
     {'name':'ton','age':96},
     {'name':'son','age':86},
     {'name':'tonn','age':16}]
key='age'
sorted_list=sorted(lst,key=lambda x: x[key])
print(sorted_list)

[{'name': 'tonn', 'age': 16}, {'name': 'jnon', 'age': 25}, {'name': 'son', 'age': 86}, {'name': 'ton', 'age': 96}]