<a href="https://colab.research.google.com/github/Barketalii/Python/blob/main/pythondatatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Data Types
1:Integer:it is a scalar object to create a integer object with value 5 and assign it to variable x we can use this statement

In [4]:
x=5
x
type(x)

int

since the type of above is not explicitly specified we can use another method to create object type expllicitly

you can see in both examples the type is same that is int but 2nd example explicitly specifies the type of variable

In [3]:
x=int(6)
print(x)
type(x)

6

int

explicit type concversion can also be done by using constructor function. the function concerts the float type into integer

In [5]:
y=int(43)
print(y)

43

In [6]:
u=int(-4.5)
print(u)

-4

round:rounding up an integer the round function can be used

In [11]:
round(7.9)

8

In [12]:
type(round(7.9))

int

In [13]:
round(4.366689)

4

type conversion: the type conversion from string to integer type will work only if t makes sense(i.e., the string is a valid representation of integer type) otherwise the result is an error

In [16]:
x=int('1234')
print(type(x))

<class 'int'>

In [17]:
x=int('hell')
#not allowed since it does not make sense

ValueError: invalid literal for int() with base 10: 'hell'

**Float**

float is a scalar value which represent the real numbers literals of the float type alwasy include a decimal point for example 7.0,4.177 etc

In [18]:
x=4.77
x

4.77

the constructor function float() is used to explicitly used to create a floating point object

In [21]:
x=float(4.55)
x

4.55

In [19]:
#explicit conversion
x=float(4)
x

4.0

In [20]:
#default float
x=float()
x

0.0

In [23]:
x=2.5/4
x

0.625

 **Complextype**
 it represents the aggregration of multiple source of information rather than a single value with real and imaginary parts a and bthe complex number is written as a+bj

In [2]:
x=7.5+4j
y=complex(10,5)
x

(7.5+4j)

In [3]:
x.imag

4.0

In [4]:
x.real

7.5

**Boolean** it is a scalar object that is frequently used for control flow it is different from integers, floating poits and numbers and strings for which there are an infinite number of possible literals. the boolean type is used to represent the logical vlaues which there are only two truth values.

>  **True** and **False**

In [5]:
a=8
b=9
a>b

False

In [6]:
b>a

True

In [7]:
a==b

False

 **special** literal:*NONE*
 the python has special literal NONE which means that object has not been created .None is used to represent that "no valuse", 'nothing', 'non-exixtance'
 etc.

In [8]:
a=[1,2,3,None,True,False]
count=0
for i in a:
  if i:
    count += 1
print(f'length of list:',len(a))

length of list: 6

In [9]:
type(a[3])

NoneType