<a href="https://colab.research.google.com/github/Barketalii/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple** a tuple is  sequence of immutable objects separated by the commas and whole sequence enclosed in parenthesis in many ways tuples behave like lists except that tuple are immutable therefore tuples do not have **insert(),pop(),remove(),copy(),delete(),reverse(),sort(),append() and extend()old. We will check them all and perform operations on a tuple
**

In [ ]:
tuple1=(1,2,3,2,4,5,1,True,False,'Hello')
tuple1

(1, 2, 3, 2, 4, 5, 1, True, False, 'Hello')

Count() : in tuple count counts the nuumber of times a particular item or object appears in tuple

In [ ]:
occurance_of_2=tuple1.count(2)
print(f"the number appears: {occurance_of_2} times")

the number appears: 2 times

Index: the index of the element is found using .index() method

In [ ]:
tt=tuple1.index('Hello')
tt

9

Slicing
tuple1[2:5:2] means start from index 2 and stop at 5 but does not include 5 and give step of 2

In [ ]:
tuple1[2:5:2]

(3, 5)



>  Accessing Tuple elements

In [ ]:
tuple1[7]

True

In [ ]:
tuple1[-1]

'Hello'

Reverse

In [ ]:
tuple1[::-1]

('Hello', False, True, 5, 4, 3, 2, 1)

Range of index

In [ ]:
print(tuple1)
tuple1[1:6:2]

(1, 2, 3, 2, 4, 5, 1, True, False, 'Hello')

(2, 2, 5)

In [ ]:
tuple1[:5]

(1, 2, 3, 2, 4)

tuples are immutable so can not be changed

> but can be cahnged to list forst then changed

In [ ]:
x=('apple',1,2,3,'cherry')
tup=list(x)
tup

['apple', 1, 2, 3, 'cherry']

In [ ]:
tup[1]='kiwi'
tup

['apple', 'kiwi', 2, 3, 'cherry']

In [ ]:
tupl=tuple(tup)
tupl

('apple', 'kiwi', 2, 3, 'cherry')

unpacking of tuple

In [ ]:
tup=('apple','cherry','kiwi')
tup

('apple', 'cherry', 'kiwi')

In [ ]:
(green,yellow,red)=tup
print(green)

apple

In [ ]:
tup2=(1,2,3)
tup2

(1, 2, 3)

In [ ]:
(hello,yello,jellow)=tup2
print(hello)

1

In [ ]:
fruits=('apple','cherry','kiwi','banana')

In [ ]:
(yellow,green,*red)=fruits
print(red)

['kiwi', 'banana']

Loop in tuple

In [ ]:
tup=[1,2,3,4,5,6,7,8]
for x in tup:
  print(x)

1
2
3
4
5
6
7
8

In [ ]:
tupl=('apl','banana','kwi','cherry')
for i in range(len(tupl)):
  print(tupl[i])

apl
banana
kwi
cherry

In [ ]:
for i in range(len(tupl)):
 print(i)

0
1
2
3

Using while loop

In [ ]:
i=0
while i < len(tupl):
  print(tupl[i])
  i +=1

apl
banana
kwi
cherry

joining tuples

In [ ]:
tupl1=(1,2,3,'hello')
tuple2=(1,23,4,7)
result=tupl1+tuple2
print(result)

(1, 2, 3, 'hello', 1, 23, 4, 7)